In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
# warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
!ls dataSets/training

links (table 3).csv                volume(table 6)_training.csv
routes (table 4).csv               weather (table 7)_training.csv
trajectories(table 5)_training.csv

In [3]:
training_path1 = "dataSets/training/"
links = pd.read_csv(training_path1+'links (table 3).csv')
volume = pd.read_csv(training_path1+'volume(table 6)_training.csv')
routes = pd.read_csv(training_path1+'routes (table 4).csv')
weather = pd.read_csv(training_path1+'weather (table 7)_training.csv')
trajectories = pd.read_csv(training_path1+'trajectories(table 5)_training.csv')

In [354]:
print(trajectories.shape)
print(trajectories.info())
trajectories.head(20)

(109244, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109244 entries, 0 to 109243
Data columns (total 6 columns):
intersection_id    109244 non-null object
tollgate_id        109244 non-null int64
vehicle_id         109244 non-null int64
starting_time      109244 non-null datetime64[ns]
travel_seq         109244 non-null object
travel_time        109244 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 5.0+ MB
None

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2,B,1,1086390,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
3,A,2,1071181,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
4,B,1,1065807,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98
5,C,3,1072812,2016-07-19 00:56:31,115#2016-07-19 00:56:31#10.97;102#2016-07-19 0...,113.54
6,B,1,1014648,2016-07-19 01:26:03,105#2016-07-19 01:26:03#16.85;100#2016-07-19 0...,176.70
7,A,2,1063919,2016-07-19 01:36:04,110#2016-07-19 01:36:04#10.39;123#2016-07-19 0...,74.47
8,A,3,1064408,2016-07-19 01:36:20,110#2016-07-19 01:36:20#8.58;123#2016-07-19 01...,94.57
9,C,1,1056529,2016-07-19 01:36:28,115#2016-07-19 01:36:28#9.50;102#2016-07-19 01...,214.87
10,A,2,1002179,2016-07-19 01:38:48,110#2016-07-19 01:38:48#8.25;123#2016-07-19 01...,39.27
11,B,3,1056879,2016-07-19 01:40:40,105#2016-07-19 01:40:40#11.40;100#2016-07-19 0...,86.07
12,A,2,1004088,2016-07-19 01:42:22,110#2016-07-19 01:42:22#8.32;123#2016-07-19 01...,35.38
13,C,1,1063652,2016-07-19 01:44:57,115#2016-07-19 01:44:57#7.47;102#2016-07-19 01...,189.77
14,C,1,1057504,2016-07-19 01:46:36,115#2016-07-19 01:46:36#6.77;102#2016-07-19 01...,131.50
15,A,2,1022331,2016-07-19 01:48:40,110#2016-07-19 01:48:40#9.51;123#2016-07-19 01...,130.43
16,B,3,1053843,2016-07-19 01:48:47,105#2016-07-19 01:48:47#34.41;100#2016-07-19 0...,101.37
17,A,2,1004286,2016-07-19 01:52:08,110#2016-07-19 01:52:08#18.05;123#2016-07-19 0...,67.41
18,B,3,1086111,2016-07-19 02:10:44,105#2016-07-19 02:10:44#5.17;100#2016-07-19 02...,67.81
19,A,2,1065328,2016-07-19 02:20:16,110#2016-07-19 02:20:16#10.07;123#2016-07-19 0...,42.64

In [355]:
trajectories.starting_time = pd.to_datetime(trajectories.starting_time)
df_time = trajectories.set_index(['starting_time'])
df_time_interval = df_time.groupby(pd.TimeGrouper(freq='5Min'))

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  This is separate from the ipykernel package so we can avoid doing imports until

In [392]:
df2 = df_time.groupby(df_time.index).resample('5min',how='first',fill_method='ffill')

ValueError: Duplicated level name: "starting_time", assigned to level 1, is already used for level 0.

In [ ]:
df2

In [375]:
df_time_interval = df_time.groupby(pd.TimeGrouper(freq='5Min'))

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

In [388]:
df_time_interval.get_group(keys[5])

,intersection_id,tollgate_id,vehicle_id,travel_seq,travel_time
starting_time,,,,,
2016-07-19 00:35:56,B,3,1047198,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2016-07-19 00:37:15,B,1,1086390,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
2016-07-19 00:37:59,A,2,1071181,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05

In [384]:
keys[2]

Timestamp('2016-07-19 00:20:00')

In [356]:
routes

,intersection_id,tollgate_id,link_seq
0,A,2,"110,123,107,108,120,117"
1,A,3,"110,123,107,108,119,114,118,122"
2,B,1,"105,100,111,103,116,101,121,106,113"
3,B,3,"105,100,111,103,122"
4,C,1,"115,102,109,104,112,111,103,116,101,121,106,113"
5,C,3,"115,102,109,104,112,111,103,122"

In [390]:


groups = df_time.groupby(pd.TimeGrouper(freq='5Min')).agg(lambda g: dict([(k,g[k].tolist()) for k in g])).reset_index()

# groups = sorted(groups)
# df = pd.concat([g for _, g in groups])

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  This is separate from the ipykernel package so we can avoid doing imports until

In [389]:
groups

,intersection_id,tollgate_id,vehicle_id,travel_seq,travel_time
starting_time,,,,,
2016-07-19 00:10:00,[B],[3],[1065642],[105#2016-07-19 00:14:24#9.56;100#2016-07-19 0...,[70.85]
2016-07-19 00:15:00,[],[],[],[],[]
2016-07-19 00:20:00,[],[],[],[],[]
2016-07-19 00:25:00,[],[],[],[],[]
2016-07-19 00:30:00,[],[],[],[],[]
2016-07-19 00:35:00,"[B, B, A]","[3, 1, 2]","[1047198, 1086390, 1071181]",[105#2016-07-19 00:35:56#11.58;100#2016-07-19 ...,"[148.79, 79.76, 58.05]"
2016-07-19 00:40:00,[],[],[],[],[]
2016-07-19 00:45:00,[],[],[],[],[]
2016-07-19 00:50:00,[],[],[],[],[]
2016-07-19 00:55:00,"[B, C]","[1, 3]","[1065807, 1072812]",[105#2016-07-19 00:56:21#16.08;100#2016-07-19 ...,"[137.98, 113.54]"
2016-07-19 01:00:00,[],[],[],[],[]
2016-07-19 01:05:00,[],[],[],[],[]
2016-07-19 01:10:00,[],[],[],[],[]
2016-07-19 01:15:00,[],[],[],[],[]
2016-07-19 01:20:00,[],[],[],[],[]
2016-07-19 01:25:00,[B],[1],[1014648],[105#2016-07-19 01:26:03#16.85;100#2016-07-19 ...,[176.7]
2016-07-19 01:30:00,[],[],[],[],[]
2016-07-19 01:35:00,"[A, A, C, A]","[2, 3, 1, 2]","[1063919, 1064408, 1056529, 1002179]",[110#2016-07-19 01:36:04#10.39;123#2016-07-19 ...,"[74.47, 94.57, 214.87, 39.27]"
2016-07-19 01:40:00,"[B, A, C]","[3, 2, 1]","[1056879, 1004088, 1063652]",[105#2016-07-19 01:40:40#11.40;100#2016-07-19 ...,"[86.07, 35.38, 189.77]"
2016-07-19 01:45:00,"[C, A, B]","[1, 2, 3]","[1057504, 1022331, 1053843]",[115#2016-07-19 01:46:36#6.77;102#2016-07-19 0...,"[131.5, 130.43, 101.37]"
2016-07-19 01:50:00,[A],[2],[1004286],[110#2016-07-19 01:52:08#18.05;123#2016-07-19 ...,[67.41]
2016-07-19 01:55:00,[],[],[],[],[]
2016-07-19 02:00:00,[],[],[],[],[]
2016-07-19 02:05:00,[],[],[],[],[]
2016-07-19 02:10:00,[B],[3],[1086111],[105#2016-07-19 02:10:44#5.17;100#2016-07-19 0...,[67.81]
2016-07-19 02:15:00,[],[],[],[],[]
2016-07-19 02:20:00,[A],[2],[1065328],[110#2016-07-19 02:20:16#10.07;123#2016-07-19 ...,[42.64]
2016-07-19 02:25:00,[],[],[],[],[]
2016-07-19 02:30:00,[],[],[],[],[]
2016-07-19 02:35:00,"[A, A]","[3, 3]","[1054620, 1011942]",[110#2016-07-19 02:36:20#7.42;123#2016-07-19 0...,"[72.12, 83.1]"
...,...,...,...,...,...
2016-10-17 21:25:00,"[C, A, A, A, C]","[1, 2, 2, 2, 3]","[1017062, 1032027, 1041541, 1036544, 1044226]",[115#2016-10-17 21:26:14#8.32;102#2016-10-17 2...,"[121.61, 35.63, 96.18, 32.44, 159.44]"
2016-10-17 21:30:00,"[A, B, A]","[2, 3, 3]","[1008280, 1022595, 1013537]",[110#2016-10-17 21:30:33#11.81;123#2016-10-17 ...,"[51.05, 61.96, 118.87]"
2016-10-17 21:35:00,[A],[3],[1046943],[110#2016-10-17 21:36:52#11.49;123#2016-10-17 ...,[82.47]
2016-10-17 21:40:00,[A],[2],[1043085],[110#2016-10-17 21:44:57#13.15;123#2016-10-17 ...,[35.81]
2016-10-17 21:45:00,"[A, A]","[2, 3]","[1035416, 1000004]",[110#2016-10-17 21:47:06#10.94;123#2016-10-17 ...,"[33.89, 111.19]"
2016-10-17 21:50:00,"[A, A]","[2, 2]","[1003831, 1018778]",[110#2016-10-17 21:51:09#13.80;123#2016-10-17 ...,"[48.07, 40.44]"
2016-10-17 21:55:00,[A],[3],[1002444],[110#2016-10-17 21:56:21#9.91;123#2016-10-17 2...,[88.86]
2016-10-17 22:00:00,[A],[2],[1009446],[110#2016-10-17 22:01:36#20.88;123#2016-10-17 ...,[91.54]
2016-10-17 22:05:00,[],[],[],[],[]
2016-10-17 22:10:00,"[A, A, A]","[3, 2, 3]","[1003913, 1037066, 1001297]",[110#2016-10-17 22:12:17#9.95;123#2016-10-17 2...,"[73.29, 46.56, 86.92]"
2016-10-17 22:15:00,[],[],[],[],[]
2016-10-17 22:20:00,"[A, A]","[2, 2]","[1048500, 1005824]",[110#2016-10-17 22:20:16#7.80;123#2016-10-17 2...,"[44.38, 31.83]"
2016-10-17 22:25:00,"[A, A, B, C]","[3, 2, 1, 3]","[1020146, 1011975, 1014648, 1011399]",[110#2016-10-17 22:26:09#9.78;123#2016-10-17 2...,"[71.97, 74.53, 136.78, 185.25]"
2016-10-17 22:30:00,"[C, A, B]","[1, 2, 3]","[1043155, 1000196, 1026971]",[115#2016-10-17 22:30:51#9.00;102#2016-10-17 2...,"[112.47, 49.99, 115.6]"
2016-10-17 22:35:00,[C],[1],[1020280],[115#2016-10-17 22:35:53#12.38;102#2016-10-17 ...,[117.84]
2016-10-17 22:40:00,[C],[3],[1016880],[115#2016-10-17 22:42:49#8.47;102#2016-10-17 2...,[189.38]
2016-10-17 22:45:00,[A],[2],[1045083],[110#2016-10-17 22:45:00#19.22;123#2016-10-17 ...,[67.98]
2016-10-17 22:50:00,"[A, A, B]","[3, 2, 3]","[1011400, 1043473, 1035615]",[110#2016-10-17 22:50:11#10.77;123#2016-10-17 ...,"[83.76, 53.01, 60.92]"
2016-10-17 22:55:00,"[A, C]","[2, 3]","[1027124, 1043900]",[110#2016-10-17 22:56:18#8.83;123#2016-10-17 2...,"[46.5, 111.67]"
2016-10-17 23:00:00,[],[],[],[],[]
2016-10-17 23:05:00,"[A, B, A, A]","[2, 3, 3, 2]","[1022578, 1049127, 1042839, 1002950]",[110#2016-10-17 23:06:06#10.28;123#2016-10-17 ...,"[45.52, 60.49, 104.54, 48.36]"
2016-10-17 23:10:00,"[A, C, A, A]","[3, 1, 2, 2]","[1018469, 1048639, 1000448, 1004272]",[110#2016-10-17 23:10:45#9.21;123#2016-10-17 2...,"[102.83, 194.33, 48.04, 61.68]"
2016-10-17 23:15:00,[],[],[],[],[]
2016-10-17 23:20:00,"[C, A, A, A]","[1, 2, 2, 2]","[1031989, 1010568, 1037457, 1009417]",[115#2016-10-17 23:20:17#9.86;102#2016-10-17 2...,"[159.78, 40.29, 123.37, 124.41]"
2016-10-17 23:25:00,[B],[3],[1047183],[105#2016-10-17 23:29:43#20.17;100#2016-10-17 ...,[131.68]
2016-10-17 23:30:00,"[A, A]","[2, 3]","[1012726, 1004601]",[110#2016-10-17 23:30:10#13.46;123#2016-10-17 ...,"[55.54, 222.87]"
2016-10-17 23:35:00,"[A, B, A]","[3, 1, 2]","[1035614, 1003456, 1027763]",[110#2016-10-17 23:35:56#11.74;123#2016-10-17 ...,"[91.59, 97.54, 52.46]"
2016-10-17 23:40:00,[A],[2],[1051052],[110#2016-10-17 23:40:19#11.87;123#2016-10-17 ...,[42.27]
2016-10-17 23:45:00,[],[],[],[],[]
2016-10-17 23:50:00,"[A, A, A]","[3, 3, 3]","[1003251, 1041002, 1017582]",[110#2016-10-17 23:52:18#7.59;123#2016-10-17 2...,"[71.94, 132.51, 137.38]"

In [368]:
df.head()

,intersection_id,tollgate_id,vehicle_id,travel_seq,travel_time
starting_time,,,,,
2016-07-19 00:14:24,B,3,1065642,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
2016-07-19 00:35:56,B,3,1047198,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2016-07-19 00:37:15,B,1,1086390,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
2016-07-19 00:37:59,A,2,1071181,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
2016-07-19 00:56:21,B,1,1065807,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98

In [364]:
df_time_interval11

,intersection_id,tollgate_id,vehicle_id,travel_seq,travel_time
starting_time,,,,,
2016-07-19 00:14:24,B,3,1065642,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
2016-07-19 00:35:56,B,3,1047198,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2016-07-19 00:37:15,B,1,1086390,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
2016-07-19 00:37:59,A,2,1071181,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
2016-07-19 00:56:21,B,1,1065807,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98
2016-07-19 00:56:31,C,3,1072812,115#2016-07-19 00:56:31#10.97;102#2016-07-19 0...,113.54
2016-07-19 01:26:03,B,1,1014648,105#2016-07-19 01:26:03#16.85;100#2016-07-19 0...,176.70
2016-07-19 01:36:04,A,2,1063919,110#2016-07-19 01:36:04#10.39;123#2016-07-19 0...,74.47
2016-07-19 01:36:20,A,3,1064408,110#2016-07-19 01:36:20#8.58;123#2016-07-19 01...,94.57
2016-07-19 01:36:28,C,1,1056529,115#2016-07-19 01:36:28#9.50;102#2016-07-19 01...,214.87
2016-07-19 01:38:48,A,2,1002179,110#2016-07-19 01:38:48#8.25;123#2016-07-19 01...,39.27
2016-07-19 01:40:40,B,3,1056879,105#2016-07-19 01:40:40#11.40;100#2016-07-19 0...,86.07
2016-07-19 01:42:22,A,2,1004088,110#2016-07-19 01:42:22#8.32;123#2016-07-19 01...,35.38
2016-07-19 01:44:57,C,1,1063652,115#2016-07-19 01:44:57#7.47;102#2016-07-19 01...,189.77
2016-07-19 01:46:36,C,1,1057504,115#2016-07-19 01:46:36#6.77;102#2016-07-19 01...,131.50
2016-07-19 01:48:40,A,2,1022331,110#2016-07-19 01:48:40#9.51;123#2016-07-19 01...,130.43
2016-07-19 01:48:47,B,3,1053843,105#2016-07-19 01:48:47#34.41;100#2016-07-19 0...,101.37
2016-07-19 01:52:08,A,2,1004286,110#2016-07-19 01:52:08#18.05;123#2016-07-19 0...,67.41
2016-07-19 02:10:44,B,3,1086111,105#2016-07-19 02:10:44#5.17;100#2016-07-19 02...,67.81
2016-07-19 02:20:16,A,2,1065328,110#2016-07-19 02:20:16#10.07;123#2016-07-19 0...,42.64
2016-07-19 02:36:20,A,3,1054620,110#2016-07-19 02:36:20#7.42;123#2016-07-19 02...,72.12
2016-07-19 02:38:10,A,3,1011942,110#2016-07-19 02:38:10#8.22;123#2016-07-19 02...,83.10
2016-07-19 02:42:15,B,3,1058173,105#2016-07-19 02:42:15#17.66;100#2016-07-19 0...,142.32
2016-07-19 02:42:22,A,2,1027642,110#2016-07-19 02:42:22#6.65;123#2016-07-19 02...,29.15
2016-07-19 02:42:24,A,2,1005189,110#2016-07-19 02:42:24#7.54;123#2016-07-19 02...,40.12
2016-07-19 02:44:00,B,3,1043567,105#2016-07-19 02:44:00#11.50;100#2016-07-19 0...,192.77
2016-07-19 02:58:39,A,2,1056068,110#2016-07-19 02:58:39#9.42;123#2016-07-19 02...,51.25
2016-07-19 03:12:37,A,3,1017831,110#2016-07-19 03:12:37#7.48;123#2016-07-19 03...,93.09
2016-07-19 03:27:36,A,2,1055860,110#2016-07-19 03:27:36#11.44;123#2016-07-19 0...,44.29
2016-07-19 03:36:02,A,2,1085652,110#2016-07-19 03:36:02#11.39;123#2016-07-19 0...,39.55
...,...,...,...,...,...
2016-10-17 22:35:53,C,1,1020280,115#2016-10-17 22:35:53#12.38;102#2016-10-17 2...,117.84
2016-10-17 22:42:49,C,3,1016880,115#2016-10-17 22:42:49#8.47;102#2016-10-17 22...,189.38
2016-10-17 22:45:00,A,2,1045083,110#2016-10-17 22:45:00#19.22;123#2016-10-17 2...,67.98
2016-10-17 22:50:11,A,3,1011400,110#2016-10-17 22:50:11#10.77;123#2016-10-17 2...,83.76
2016-10-17 22:50:23,A,2,1043473,110#2016-10-17 22:50:23#9.96;123#2016-10-17 22...,53.01
2016-10-17 22:51:12,B,3,1035615,105#2016-10-17 22:51:12#8.30;100#2016-10-17 22...,60.92
2016-10-17 22:56:18,A,2,1027124,110#2016-10-17 22:56:18#8.83;123#2016-10-17 22...,46.50
2016-10-17 22:57:13,C,3,1043900,115#2016-10-17 22:57:13#7.75;102#2016-10-17 22...,111.67
2016-10-17 23:06:06,A,2,1022578,110#2016-10-17 23:06:06#10.28;123#2016-10-17 2...,45.52
2016-10-17 23:07:24,B,3,1049127,105#2016-10-17 23:07:24#9.49;100#2016-10-17 23...,60.49
2016-10-17 23:08:13,A,3,1042839,110#2016-10-17 23:08:13#9.63;123#2016-10-17 23...,104.54
2016-10-17 23:08:18,A,2,1002950,110#2016-10-17 23:08:18#10.31;123#2016-10-17 2...,48.36
2016-10-17 23:10:45,A,3,1018469,110#2016-10-17 23:10:45#9.21;123#2016-10-17 23...,102.83
2016-10-17 23:13:29,C,1,1048639,115#2016-10-17 23:13:29#7.28;102#2016-10-17 23...,194.33
2016-10-17 23:14:16,A,2,1000448,110#2016-10-17 23:14:16#12.20;123#2016-10-17 2...,48.04
2016-10-17 23:14:17,A,2,1004272,110#2016-10-17 23:14:17#11.13;123#2016-10-17 2...,61.68
2016-10-17 23:20:17,C,1,1031989,115#2016-10-17 23:20:17#9.86;102#2016-10-17 23...,159.78
2016-10-17 23:21:50,A,2,1010568,110#2016-10-17 23:21:50#13.24;123#2016-10-17 2...,40.29
2016-10-17 23:22:08,A,2,1037457,110#2016-10-17 23:22:08#31.53;123#2016-10-17 2...,123.37
2016-10-17 23:22:19,A,2,1009417,110#2016-10-17 23:22:19#22.78;123#2016-10-17 2...,124.41
2016-10-17 23:29:43,B,3,1047183,105#2016-10-17 23:29:43#20.17;100#2016-10-17 2...,131.68
2016-10-17 23:30:10,A,2,1012726,110#2016-10-17 23:30:10#13.46;123#2016-10-17 2...,55.54
2016-10-17 23:30:43,A,3,1004601,110#2016-10-17 23:30:43#9.19;123#2016-10-17 23...,222.87
2016-10-17 23:35:56,A,3,1035614,110#2016-10-17 23:35:56#11.74;123#2016-10-17 2...,91.59
2016-10-17 23:37:31,B,1,1003456,105#2016-10-17 23:37:31#9.95;100#2016-10-17 23...,97.54
2016-10-17 23:38:52,A,2,1027763,110#2016-10-17 23:38:52#8.91;123#2016-10-17 23...,52.46
2016-10-17 23:40:19,A,2,1051052,110#2016-10-17 23:40:19#11.87;123#2016-10-17 2...,42.27
2016-10-17 23:52:18,A,3,1003251,110#2016-10-17 23:52:18#7.59;123#2016-10-17 23...,71.94
2016-10-17 23:53:57,A,3,1041002,110#2016-10-17 23:53:57#10.56;123#2016-10-17 2...,132.51
2016-10-17 23:54:35,A,3,1017582,110#2016-10-17 23:54:35#9.10;123#2016-10-17 23...,137.38

In [357]:
df_time.head()

,intersection_id,tollgate_id,vehicle_id,travel_seq,travel_time
starting_time,,,,,
2016-07-19 00:14:24,B,3,1065642,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
2016-07-19 00:35:56,B,3,1047198,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2016-07-19 00:37:15,B,1,1086390,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
2016-07-19 00:37:59,A,2,1071181,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
2016-07-19 00:56:21,B,1,1065807,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98

In [359]:
df_time_interval.head(7)

,starting_time,intersection_id,tollgate_id,vehicle_id,travel_seq,travel_time
0,2016-07-19 00:10:00,B,3.0,1065642.0,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
1,2016-07-19 00:15:00,NaN,NaN,NaN,NaN,NaN
2,2016-07-19 00:20:00,NaN,NaN,NaN,NaN,NaN
3,2016-07-19 00:25:00,NaN,NaN,NaN,NaN,NaN
4,2016-07-19 00:30:00,NaN,NaN,NaN,NaN,NaN
5,2016-07-19 00:35:00,B,3.0,1047198.0,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
6,2016-07-19 00:40:00,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged = pd.merge(df_time, df_time_interval, left_index=True, right_on='Project')

In [340]:
df_time_interval

            starting_time  0
0     2016-07-19 00:10:00  1
1     2016-07-19 00:15:00  0
2     2016-07-19 00:20:00  0
3     2016-07-19 00:25:00  0
4     2016-07-19 00:30:00  0
5     2016-07-19 00:35:00  3
6     2016-07-19 00:40:00  0
7     2016-07-19 00:45:00  0
8     2016-07-19 00:50:00  0
9     2016-07-19 00:55:00  2
10    2016-07-19 01:00:00  0
11    2016-07-19 01:05:00  0
12    2016-07-19 01:10:00  0
13    2016-07-19 01:15:00  0
14    2016-07-19 01:20:00  0
15    2016-07-19 01:25:00  1
16    2016-07-19 01:30:00  0
17    2016-07-19 01:35:00  4
18    2016-07-19 01:40:00  3
19    2016-07-19 01:45:00  3
20    2016-07-19 01:50:00  1
21    2016-07-19 01:55:00  0
22    2016-07-19 02:00:00  0
23    2016-07-19 02:05:00  0
24    2016-07-19 02:10:00  1
25    2016-07-19 02:15:00  0
26    2016-07-19 02:20:00  1
27    2016-07-19 02:25:00  0
28    2016-07-19 02:30:00  0
29    2016-07-19 02:35:00  2
...                   ... ..
26175 2016-10-17 21:25:00  5
26176 2016-10-17 21:30:00  3
26177 2016-10-17 21:35:00  1
26178 2016-10-17 21:40:00  1
26179 2016-10-17 21:45:00  2
26180 2016-10-17 21:50:00  2
26181 2016-10-17 21:55:00  1
26182 2016-10-17 22:00:00  1
26183 2016-10-17 22:05:00  0
26184 2016-10-17 22:10:00  3
26185 2016-10-17 22:15:00  0
26186 2016-10-17 22:20:00  2
26187 2016-10-17 22:25:00  4
26188 2016-10-17 22:30:00  3
26189 2016-10-17 22:35:00  1
26190 2016-10-17 22:40:00  1
26191 2016-10-17 22:45:00  1
26192 2016-10-17 22:50:00  3
26193 2016-10-17 22:55:00  2
26194 2016-10-17 23:00:00  0
26195 2016-10-17 23:05:00  4
26196 2016-10-17 23:10:00  4
26197 2016-10-17 23:15:00  0
26198 2016-10-17 23:20:00  4
26199 2016-10-17 23:25:00  1
26200 2016-10-17 23:30:00  2
26201 2016-10-17 23:35:00  3
26202 2016-10-17 23:40:00  1
26203 2016-10-17 23:45:00  0
26204 2016-10-17 23:50:00  3

[26205 rows x 2 columns]

In [223]:
route_dic = {}
for i in range(len(routes)):
    route_dic[(routes['intersection_id'][i],routes['tollgate_id'][i])] = routes['link_seq'][i].split(',')

In [232]:
route_dic[(('A', 2))][0]

'110'

In [333]:
def multiassign(d, keys, values):
    for k, v in zip(keys, values):
        d[k] += v

In [150]:
keys = df_time_interval['starting_time']
time_stamp = {}
for key in keys:
    time_stamp[key] = {'100':0,'101':0,'103':0,'105':0,'106':0,'107':0,'108':0,'110':0,'111':0,'113':0,'116':0,'117':0,'120':0,'121':0,'122':0,'123':0}

for time_stamp in df_time_interval['starting_time']:

In [239]:
# for i in range(len(trajectories)):
#     (trajectories['intersection_id'][i],trajectories['tollgate_id'][i])

In [330]:
diccc = {'a':{'b':0,'c':1,'d':0}}

In [228]:
(trajectories['intersection_id'][0],trajectories['tollgate_id'][0])

('B', 3)

In [268]:
diccc['a']['b','c']

KeyError: ('b', 'c')

In [331]:
multiassign(diccc['a'],['b','c','d'],np.ones(3))

In [332]:
diccc['a']

{'b': 1.0, 'c': 2.0, 'd': 1.0}

In [305]:
from operator import itemgetter
for i in range(2):
itemgetter('b','c')(diccc['a'])

IndentationError: expected an indented block (<ipython-input-305-2dda0dd2db6f>, line 3)

In [261]:
diccc['a'][x for x in ['b']]

SyntaxError: invalid syntax (<ipython-input-261-ff99de4da6a4>, line 1)

In [132]:
trajectories.starting_time[0]

Timestamp('2016-07-19 00:14:24')

In [131]:
df_time_interval.index[0] = keys[0]

TypeError: Index does not support mutable operations

In [7]:
def get_info_tup(x):
    link_id, start_time, duration = x.split('#')[0], x.split('#')[1], x.split('#')[2]
    return link_id, start_time, duration

In [19]:
trajectories['travel_seq'][109243]

'110#2016-10-17 23:54:35#9.10;123#2016-10-17 23:54:44#5.36;107#2016-10-17 23:54:50#3.09;108#2016-10-17 23:54:53#3.64;119#2016-10-17 23:54:56#0.82;114#2016-10-17 23:54:57#18.00;118#2016-10-17 23:55:15#18.73;122#2016-10-17 23:55:34#78.38'

In [63]:
trajectories['travel_seq'][109243].split(';')

['110#2016-10-17 23:54:35#9.10',
 '123#2016-10-17 23:54:44#5.36',
 '107#2016-10-17 23:54:50#3.09',
 '108#2016-10-17 23:54:53#3.64',
 '119#2016-10-17 23:54:56#0.82',
 '114#2016-10-17 23:54:57#18.00',
 '118#2016-10-17 23:55:15#18.73',
 '122#2016-10-17 23:55:34#78.38']

In [62]:
get_info_tup(trajectories['travel_seq'][109243])

('110', '2016-10-17 23:54:35', '9.10;123')

In [28]:
trajectories.starting_time = pd.to_datetime(trajectories.starting_time)

In [67]:
np.where(trajectories['travel_time']>300)

(array([   108,    166,    248, ..., 108879, 109005, 109075]),)

In [93]:
long_ = trajectories.iloc[np.where(trajectories['travel_time']>300)].reset_index(drop = True)

In [94]:
long_.head()

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time
0,A,3,1061962,2016-07-19 06:49:55,110#2016-07-19 06:49:55#22.35;123#2016-07-19 0...,310.68
1,A,3,1002777,2016-07-19 07:52:40,110#2016-07-19 07:52:40#26.61;123#2016-07-19 0...,336.77
2,B,3,1058989,2016-07-19 08:55:39,105#2016-07-19 08:55:39#11.15;100#2016-07-19 0...,375.43
3,B,3,1079899,2016-07-19 08:58:34,105#2016-07-19 08:58:34#9.38;100#2016-07-19 08...,452.40
4,C,1,1056882,2016-07-19 10:42:52,115#2016-07-19 10:42:52#14.93;102#2016-07-19 1...,301.28

In [ ]:
100	101	103	105	106	107	108	110	111	113	116	117	120	121	122	123

In [ ]:
time_stamp = {}

In [95]:
long_['travel_seq'][0].split(';')

['110#2016-07-19 06:49:55#22.35',
 '123#2016-07-19 06:50:18#12.10',
 '107#2016-07-19 06:50:30#6.97',
 '108#2016-07-19 06:50:37#8.20',
 '119#2016-07-19 06:50:45#1.85',
 '114#2016-07-19 06:50:47#31.76',
 '118#2016-07-19 06:51:19#216.04',
 '122#2016-07-19 06:54:55#10.68']

In [88]:
str1.split('#')

['108    110',
 '2016-07-19 06:49:55',
 '22.35;123',
 '2016-07-19 0...\nName: travel_seq, dtype: object']

In [38]:
df11 = trajectories.iloc[:,3:]

In [39]:
df11.head()

,starting_time,travel_seq,travel_time
0,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
1,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
3,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
4,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98

In [101]:
trajectories.groupby(pd.TimeGrouper(freq='5Min')).size()

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [43]:
type(df11['starting_time'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [47]:
data = df11.set_index(['starting_time'])

In [98]:
df12 = data.groupby(pd.TimeGrouper(freq='5Min')).size()

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

In [100]:
df12.index

DatetimeIndex(['2016-07-19 00:10:00', '2016-07-19 00:15:00',
               '2016-07-19 00:20:00', '2016-07-19 00:25:00',
               '2016-07-19 00:30:00', '2016-07-19 00:35:00',
               '2016-07-19 00:40:00', '2016-07-19 00:45:00',
               '2016-07-19 00:50:00', '2016-07-19 00:55:00',
               ...
               '2016-10-17 23:05:00', '2016-10-17 23:10:00',
               '2016-10-17 23:15:00', '2016-10-17 23:20:00',
               '2016-10-17 23:25:00', '2016-10-17 23:30:00',
               '2016-10-17 23:35:00', '2016-10-17 23:40:00',
               '2016-10-17 23:45:00', '2016-10-17 23:50:00'],
              dtype='datetime64[ns]', name=u'starting_time', length=26205, freq='5T')

In [97]:
df12.index()

AttributeError: Cannot access attribute 'index' of 'DataFrameGroupBy' objects, try using the 'apply' method